body {
    font-family: Arial, sans-serif;
}

.producto {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

ul#lista-carrito {
    padding-left: 0;
}

ul#lista-carrito li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

ul#lista-carrito {
    padding-left: 0;
    max-height: 300px;
    overflow-y: scroll;
}

ul#lista-carrito li {
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

/* ... (estilos anteriores) ... */

#lista-carrito {
    max-height: 250px;
    overflow-y: auto;
}

.floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#count-carrito-mobile {
    padding: 10px 15px;
    font-size: 1.2em;
}


.card-img-top {
    height: 150px; /* o el tamaño que desees */
    object-fit: cover; /* para mantener la proporción de la imagen */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* para que ocupe todo el espacio vertical disponible */
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item > div {
    display: flex;
    align-items: center;
}

.list-group-item button {
    margin: 0 5px;
}

/* Efecto de transición para las tarjetas y botones */
.transition-effect {
    transition: all 0.3s ease;
}

/* Efecto hover para las tarjetas */
.card:hover {
    transform: translateY(-3px);
}

/* Estilo para los botones de agregar al carrito */
.agregar {
    border: none;
    background-color: #ffc107;
    color: #333;
}

.agregar:hover {
    background-color: #ffcc00;
    color: #222;
}

/* Estilo para el carrito */
#lista-carrito {
    max-height: 300px;
    overflow-y: auto;
}

/* Estilo para el modal */
.modal-content {
    border-radius: 15px;
}

.modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Animación sutil de escala */
@keyframes scalePulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.scale-animation {
    animation: scalePulse 0.5s ease-in-out;
}
